<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Posts</h2>

        <ul class="list-group">
          <app-post-list-component *ngFor="let post of Post"
          [postTitle]="post.title"
          [postContent]="post.content"
          [postLovesIts]="post.loveIts"
          [postCreate]="post.created_at">
          </app-post-list-component>
        </ul>

      </div>
    </div>
  </div>
</div>
