<li [ngClass]="{'list-group-item' : true,
'list-group-item-success': postLovesIts >0,
'list-group-item-danger': postLovesIts<0}">
  <div
    *ngIf="postLovesIts<0">
  </div>
  <h4 [ngStyle]="{color: getColor()}">{{postTitle}}</h4>
  <p>{{postCreate | date: 'short'|uppercase }}</p>
  <p>{{postContent}}</p>
    <button class ="btn btn-success"
            (click)="addLove()">J'aime !</button>
    <button class="btn btn-danger"
            (click)="subtractLove()">Je n'aime pas !</button>
